{% extends 'main/layout.html' %}
{% block title %} О нас {% endblock %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <p> Добро пожаловать на наш сайт по продаже смартфонов! Мы - новый, динамично развивающийся интернет-магазин, специализирующийся на продаже смартфонов высокого качества.

            Наш магазин был основан в 2023 году, и наша команда состоит из профессионалов, которые стремятся обеспечить нашим клиентам лучший сервис и качественные продукты. Мы предлагаем широкий выбор смартфонов от ведущих мировых производителей, таких как Apple, Samsung, Xiaomi, Huawei и многих других.

            Мы понимаем, насколько важно для наших клиентов иметь доступ к современным и надежным устройствам, поэтому мы постоянно обновляем наш ассортимент и предлагаем только самые актуальные модели. Мы также гарантируем, что все наши продукты являются оригинальными и проходят проверку качества перед продажей.

            В нашем интернет-магазине мы уделяем особое внимание качеству обслуживания клиентов. Мы предлагаем быструю доставку по всей стране, гарантируем безопасность платежей и обеспечиваем профессиональную консультацию нашим клиентам в любое время.

            Мы надеемся, что наша продукция и сервис смогут удовлетворить все ваши потребности и требования, и мы будем рады стать вашим надежным партнером в выборе смартфона! Спасибо, что посетили наш сайт, и ждем вас в нашем магазине.
        </p>
        <a href="{% url 'home' %}"><buttom class="btn btn-warning">Вернуться на главную</buttom></a>
    </div>
{% endblock %}